{% extends "wrapper.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid page-background">
    <div class="container redeem">
        <div class="col-xs-12 content bio">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <div class="content">
                        <blockquote class="redeem"><small>{{ novel_object.summary }}</small></blockquote>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <div class="redeem">
                        <p><img id="" src="/media/images/GavinChait_125x125.jpg" alt="Gavin Chait Photo">I am Gavin
                        Chait, an open data software consultant for <a href="http://www.whythawk.com/">Whythawk</a> in
                        the UK. My work and travels have taken me across Africa, Latin America, Europe, and Asia.</p>
                        <p>{{ novel_object.title }} is published and distributed on
                        <a href="https://github.com/turukawa/whyqd">Whyqd</a>, an open-source and extensible
                        object-based wiki bringing revision control, content presentation, branching and embedding to
                        any type of digital object. I developed the current simplified implementation of the software
                        for this web-novel.</p>
                        <p>Features:</p>
                        <ul>
                            <li>HTML-based presentation of complete novel;</li>
                            <li>Import novel source DOCX and convert to individual HTML pages for each chapter;</li>
                            <li>Price and set permissions for each chapter (as open, login or own);</li>
                            <li>Structure the Contents page;</li>
                            <li>Manage currency conversion, sales and distribution of the novel, including refunds;</li>
                            <li>Owners can bulk-buy, lend copies, and manage unredeemed purchases;</li>
                            <li>System creates one-time / time-limited download tokens for distribution;</li>
                            <li>Manage marketing and distribution of free review copies;</li>
                        </ul>
                        <p>In the future, Whyqd will allow:</p>
                        <ul>
                            <li>Online creation and editing of a novel;</li>
                            <li>Online conversion of HTML pages into epub, mobi and pdf ebooks;</li>
                            <li>Readers can branch, change and re-release books they buy;</li>
                        </ul>
                        <p>You can choose to buy {{ novel_object.title }} instantly and anonymously with Stripe, or
                        read the first 35 chapters for free... <em>with one catch</em>. After chapter four, the further
                        you read the higher the eventual purchase price.</p>
                        <p>I appreciate your time and I hope you love {{ novel_object.title }}.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 content">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <div id="buyresponse" >
                        <div class="col-md-6">
                            <a id="github" href="https://github.com/turukawa/whyqd"
                               class="btn btn-md btn-block btn-read" role="button">Fork on Github</a>
                        </div>
                        <div class="col-md-6">
                            {% if request.user.is_authenticated and request.user.current_view %}
                            <a id="read" href="/{{ request.user.current_view }}"
                               class="btn btn-md btn-block btn-read" role="button">Continue Reading for Free</a>
                            {% else %}
                            <a id="read" href="{{ novel_object.sentinal.get_url }}"
                               class="btn btn-md btn-block btn-read" role="button">Start Reading for Free</a>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 text-center">
                            {% if show_buy %}
                            {% block buynovel %}
                                {% include 'novel/buy_novel.html' %}
                            {% endblock buynovel %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
{% if show_buy %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="{% static 'js/jquery.whyqd.buy.js' %}"></script>
{% endif %}
{% endblock extrascripts %}