{% extends "wrapper.html" %}

{% block extrastyles %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/medium-editor.css">
<style>
    .whyqd-content {
        margin-top: 90px;
    }
</style>
{% endblock extrastyles %}

{% block content %}
    <div class="col-xs-12 col-md-10 col-md-offset-1 whyqd-absolute-top ">
    	<form action="" enctype="multipart/form-data" method="POST" class="inline">
    	    {% csrf_token %}
    	    <input id="previous" type="hidden" value="{% if wiqi_object.stack %}{{ wiqi_object.get_previous }}
    	       {% else %}{{ wiqi_object.wiqi.get_previous }}{% endif %}"/>
    		{% for field in wiqistack_form %}
    			<p>{{ field.label_tag }} {{ field }}</p>
    			<p><small>{{ field.help_text }}</small></p>
    		{% endfor %}
    		<button type="submit" class="btn btn-default" name="_{{ nav_type }}" value="{{ nav_type }}">{{ nav_type }}</button>
    	</form>
	</div>
{% endblock content %}