{% extends "wrapper.html" %}

{% block content %}
<div class="container">
    <div class="col-md-10 col-md-push-1">
        <div class="row">
            <div class="content legal">
            <h1>{{ novel_object.title }} - Terms of Service</h1>
            <h2>Copyright</h2>
            <p>Published by Qwyre in 2015</p>
            <p>Oxford, United Kingdom</p>
            <p>Copyright &copy; Gavin Chait, 2015</p>
            <p>The right of Gavin Chait to be identified as the Author of the Work has been asserted by him in
            accordance with the Copyright, Designs and Patents Act 1988. Qwyre supports copyright. Copyright gives
            creators space to explore and provides for their long-term ability to sustain themselves from their work.
            Thank you for buying this book and for complying with copyright laws by not reproducing, scanning, or
            distributing any part of it without permission. Your support will contribute to future works by this
            author.</p>
            <p>eBook Mobi ISBN 978 0 9931914 0 4</p>
            <p>eBook ePub ISBN 978 0 9931914 1 1</p>
            <p>eBook PDF ISBN 978 0 9931914 2 8</p>
            <p>This is a work of fiction. Names, characters, places, and incidents are either the product of the
            author's imagination or are used fictitiously. Any resemblance to actual persons, living or dead,
            businesses, companies, events, or locales is entirely coincidental.</p>
            <h2>Definition of Terms of Service</h2>
            <p>Please read these Terms of Service completely and carefully before using tartarusfalls.com (the
            "Site") and the services and content offered by Whythawk Limited (trading as Qwyre) ("Qwyre", "we", "us" or
            "our"). This site, as well as any downloadable content, are collectively defined as the "Services". These
            Terms of Service set forth the legally binding terms and conditions for your use of the Site and
            Services.</p>
            <p>In order to use the Services, you must be 13 years of age or older. If you are under age 13, you may not
            use the Services under any circumstances or for any reason.  These Terms of Service apply to all users of
            the Services, including, without limitation, users who are registered or otherwise. If you don't agree with
            these terms, please do not use the Services.</p>
            <h2>Acceptance of Terms of Service</h2>
            <p>By registering for and/or using the Services in any manner - including but not limited to visiting or
            browsing the Site - you agree to these Terms of Service and all other operating rules, policies, and
            procedures published on the Site by us, each of which is incorporated by reference and each of which may
            be updated from time to time without notice to you. When we make changes that we consider significant, we
            will post a notice on the Services.</p>
            <p>From time to time part of the Services may be subject to additional terms and conditions specified by
            us. When we make changes that we consider significant, we will post a notice on the Services. By continuing
            to use such Services after these changes are made, you are expressing your acceptance of these additional
            terms and conditions, which are incorporated into these Terms of Service by this reference.</p>
            <h3>Eligibility</h3>
            <p>You represent and warrant that you are at least 13 years of age. If you are under age 13, you may not,
            under any circumstances or for any reason, use the Services. We may, in our sole discretion, refuse to offer
            the Services to any person or entity and change its eligibility criteria at any time. You are solely
            responsible for ensuring that these Terms of Service are in compliance with all laws, rules and regulations
            applicable to you and the right to access the Services is revoked where these Terms of Service or use of the
            Services is prohibited or to the extent offering, sale or provision of the Services conflicts with any
            applicable law, rule or regulation. Further, the Services are offered only for your use, and not for the
            use or benefit of any third party.</p>
            <h2>Registration</h2>
            <p>You are not required to register for an account on the Services (an "Account") to either purchase or
            read the public pages of the Services.</p>
            <p>Should you wish to register an Account, you will be required to use an existing Facebook account which
            is yours and which you have a legal right to use and access.</p>
            <p>You are solely responsible for the activity that occurs on your Account, and for keeping your Account
            password secure. You may never use another person's user account or registration information for the
            Services. You must notify us immediately of any change in your eligibility to use the Services, breach of
            security or unauthorised use of your Account. You should never publish, distribute or post login
            information for your Account.</p>
            <h2>Content</h2>
            <h3>Definition</h3>
            <p>For purposes of these Terms of Service, the term "Content" includes, without limitation, information,
            data, text, photographs, videos, audio clips, written posts and comments, software, scripts, graphics, and
            interactive features generated, provided, or otherwise made accessible on or through the Services.</p>
            <h3>Notices and restrictions</h3>
            <p>The Services may contain Content specifically provided by us, our partners or our users and such Content
            is protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights
            and laws. You shall abide by and maintain all copyright notices, information, and restrictions contained in
            any Content accessed through the Services.</p>
            <h3>Use license</h3>
            <p>Subject to these Terms of Service (including payment of all applicable fees and charges), we grant each
            registered user of the Services a worldwide, non-exclusive, non-sublicensable, revocable,and
            non-transferable license to access and use the Services in the manner set forth herein, and to access ebook
            Content we make available via the Services solely for such user's personal, non-commercial purposes
            following purchase or online lending of such Content, and subject to any further usage restrictions we may
            indicate on the Services with respect to such Content. Use, reproduction, modification, distribution or
            storage of any Content for other than purposes of using the Services is expressly prohibited without prior
            written permission from us. You shall not sell, license, rent, or otherwise use or exploit any Content for
            commercial use or in any way that violates any third party right.</p>
            <h3>Download license</h3>
            <p>Subject to your compliance with the Terms of Service, and paying a fee via this Site to purchase a copy of
            the Content, we grant you a limited, non-exclusive, non-transferable, freely revocable license to download
            (including, without limitation download to a portable device), print, and have printed select content for
            personal use, except as we may restrict or block on our own initiative.</p>
            <h3>Availability of content</h3>
            <p>We reserve the right to, but do not have any obligation to, (i) remove, edit or modify any Content in
            our sole discretion, at any time, without notice to you and for any reason (including, but not limited to,
            upon receipt of claims or allegations from third parties or authorities relating to such Content or if we
            are concerned that you may have violated these Terms of Service), or for no reason at all and (ii) to
            remove or block any Content from the Services.</p>
            <h3>Privacy policy</h3>
            <p>This Privacy Policy does not apply to the practices of third parties that we do not own or control,
            including but not limited to any third party websites, services and applications ("Third Party Services")
            that you elect to access through the Service or to individuals that we do not manage or employ. When you
            click on a third party logo displayed on or in the Services, and it links you to a different website or
            application, you are acknowledging that our Privacy Policy no longer applies to that website or
            application. You must read the privacy policies of the Third Party Services to see how your personal
            information will be handled on such Third Party Services.</p>
            <p>While we attempt to facilitate access only to those Third Party Services that share our respect for your
            privacy, we cannot take responsibility for the content or privacy policies of those Third Party Services.
            We encourage you to carefully review the privacy policies of any Third Party Services you access.</p>
            <p>We collect the least amount of information required to offer you the Services.</p>
            <p>When you create an Account, you will provide information that could be Personal Information, such as
            your username, password and email address. The information we collect here will be used to process your
            registration, your orders and payments, and to communicate with you about these topics, among others. We
            may also use the e-mail address provided to send you updates about us and the Services, including news about
            added features, special offers and promotions, surveys, and other general correspondence about the
            Services. If you do not want to receive certain types of communications from us, simply adjust your e-mail
            preferences through your Account settings.</p>
            <p>You acknowledge that this information may be personal to you, and by creating an account on the Services
            and providing Personal Information to us, you allow others, including us, to identify you and therefore may
            not be anonymous. We may use your contact information to send you information about our Services, but as
            stated above, we will contact you only rarely when we feel such information is important.</p>
            <p>If you connect to the Services using your Facebook account, you are authorising us to collect
            authentication information. This does not include your Facebook account password, but it does include your
            username, encrypted access credentials, and any other information that may be available on or through your
            Facebook account, including your name, profile picture, and e-mail address. We may store this information
            for two purposes: to personalise and improve your experience, and to verify your credentials with Facebook
            to ensure a smooth and optimal login flow. Your activities on Facebook are covered by the Facebook Terms
            and Policies.</p>
            <p>We receive and record information regarding reading behavior on the services including, but not limited
            to, the specific pages opened or read, and words displayed to end users.<p>
            <p>We us a third party payment processing company (the "Payment Processor") and this site never has access
            to any of your financial information or credit card details. Please review the Terms of Service of the
            Payment Processor for their Privacy Policy.</p>
            <p>We automatically record your IP address when purchasing from the Services as we are legally obliged to
            do so. This information is never shared unless we are legally compelled.</p>
            <p>Generally, the Services automatically collect usage information, such as the number and frequency of
            visitors to the Site. We may use this data in aggregate form, that is, as a statistical measure, but not
            in a manner that would identify you personally. This type of aggregate data enables us and third parties
            authorised by us to figure out how often individuals use parts of the Services so that we can analyse and
            improve them.</p>
            <p>We also reserve the right to access, read, preserve, and disclose any information as it reasonably
            believes is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request,
            (ii) enforce the Terms of Service or Payment Terms, including investigation of potential violations thereof,
            (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user
            support requests, or (v) protect our rights, property or safety, our users and the public. This includes
            exchanging information with other companies and organizations for fraud protection and spam/malware
            prevention.</p>
            <p>Your Account information will be protected by a password for your privacy and security. You need to
            prevent unauthorized access to your Account and Personal Information by selecting and protecting your
            password appropriately and limiting access to your smartphone, computer and browser by signing off after
            you have finished accessing your Account.</p>
            <p>We otherwise store all of our information, including your IP address information, using
            industry-standard techniques. We do not guarantee or warrant that such techniques will prevent unauthorised
            access to information about you that we store, Personal Information or otherwise.</p>
            <h2>Rules of Conduct</h2>
            <p>As a condition of use, you promise not to use the Services for any purpose that is prohibited by these
            Terms of Use. You are responsible for all of your activity in connection with the Services.</p>
            <p>You shall not: (i) take any action that imposes or may impose (as determined by us in our sole
            discretion) an unreasonable or disproportionately large load on our (or our third party providers')
            infrastructure; (ii) interfere or attempt to interfere with the proper working of the Services or any
            activities conducted on the Services; (iii) bypass, circumvent or attempt to bypass or circumvent any
            measures we may use to prevent or restrict access to the Services (or other accounts, computer systems
            or networks connected to the Services); (iv) run any form of auto-responder or "spam" on the Services; (v)
            use manual or automated software, devices, or other processes to "crawl" or "spider" any page of the Site;
            (vi) harvest or scrape any Content from the Services; or (vii) otherwise take any action in violation of
            our guidelines and policies.</p>
            <p>We also reserve the right to access, read, preserve, and disclose any information as we reasonably
            believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request,
            (ii) enforce these Terms of Service, including investigation of potential violations hereof, (iii) detect,
            prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests,
            or (v) protect the rights, property or safety of us, our users and the public.</p>
            <h2>Payments</h2>
            <p>We use a third-party payment processor (the "Payment Processor") to bill you for use of the downloadable
            content of the Services. The processing of payments will be subject to the terms, conditions and privacy
            policies of the Payment Processor in addition to this Agreement. We are not responsible for any error by
            the Payment Processor. By choosing to use Paid Services, you agree to pay us, through the Payment Processor,
            all charges at the prices then in effect for any use of such Paid Services in accordance with the
            applicable payment terms and you authorise us, through the Payment Processor, to charge your chosen payment
            provider (your "Payment Method"). You agree to make payment using that selected Payment Method. We reserve
            the right to correct any errors or mistakes that it makes even if it has already requested or received
            payment.</p>
            <p>By purchasing the downloadable Content (the "eBook") you verify that you have access to or use of an
            electronic reader, are able to view the content in an electronic reader, and that you have the ability to
            load the eBook onto that reader. If you are unable to load the eBook, or seek help to assist you with
            loading and reading the eBook, then you take full responsibility for this and will not hold the Services
            liable for your inability.</p>
            <p>Paid-up account holders are permitted to lend complete online access to the Content to a limited number
            of friends or colleagues for a limited amount of time. Such numbers and time-limits are at the discretion
            of the Service and may change from time-to-time.</p>
            <h2>Warranty Disclaimer</h2>
            <p>We have no special relationship with or fiduciary duty to you. You acknowledge that We have no duty to
            take any action regarding:</p>
            <ul>
            <li>which users gain access to the Services;</li>
            <li>what Content you access via the Services; or</li>
            <li>how you may interpret or use the Content.</li>
            </ul>
            <p>You release us from all liability for you having acquired or not acquired Content through the Services.
            We make no representations concerning any Content contained in or accessed through the Services, and we
            will not be responsible or liable for the accuracy, copyright compliance, or legality of material or
            Content contained in or accessed through the Services.</p>
            <p>THE SERVICES, OUR CONTENT, AND THIRD PARTY CONTENT ARE PROVIDED "AS IS", "AS AVAILABLE" AND WITHOUT
            WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE,
            NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY
            COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. WE, AND OUR DIRECTORS,
            EMPLOYEES, AGENTS, SUPPLIERS, PARTNERS AND THIRD PARTY CONTENT PROVIDERS DO NOT WARRANT THAT: (I) THE
            SERVICES WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (II) ANY DEFECTS OR ERRORS WILL
            BE CORRECTED; (III) ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICES IS FREE OF VIRUSES OR
            OTHER HARMFUL COMPONENTS; OR (IV) THE RESULTS OF USING THE SERVICES WILL MEET YOUR REQUIREMENTS. YOUR USE
            OF THE SERVICES IS SOLELY AT YOUR OWN RISK.</p>
            <h3>Indemnification</h3>
            <p>You shall defend, indemnify, and hold harmless us, our affiliates and each of our and their respective
            employees, contractors, directors, suppliers and representatives from all liabilities, claims, and
            expenses, including reasonable attorneys' fees, that arise from or relate to your use or misuse of, or
            access to, the Services, Content, or otherwise from your User Content, violation of these Terms of Service,
            or infringement by you, or any third party using your Account or identity in the Services, of any
            intellectual property or other right of any person or entity. We reserve the right to assume the exclusive
            defense and control of any matter otherwise subject to indemnification by you, in which event you will
            assist and cooperate with us in asserting any available defenses.</p>
            <h3>Limitation of liability</h3>
            <p>IN NO EVENT SHALL WE, NOR OUR DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS OR THIRD PARTY CONTENT
            PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE
            THEORY WITH RESPECT TO THE SERVICES (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE
            GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, COMPENSATORY OR CONSEQUENTIAL DAMAGES OF
            ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES, TROJAN
            HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), OR (III) FOR ANY DIRECT DAMAGES IN EXCESS
            OF (IN THE AGGREGATE) OF FEES PAID TO US FOR THE PARTICULAR SERVICES DURING THE IMMEDIATELY PREVIOUS THREE
            (3) MONTH PERIOD.</p>
            <h3>Governing law and jurisdiction</h3>
            <p>These Terms of Service, and your relationship with us hereunder, shall be governed by and construed
            in accordance with the laws of the United Kingdom. You agree that any dispute arising from or relating to
            the subject matter of these Terms of Service shall be governed by the exclusive jurisdiction and venue of
            the courts of the United Kingdom, except with respect to imminent harm requiring temporary or preliminary
            injunctive relief in which case we may seek such relief in any court with jurisdiction over the parties.
            You understand that, in return for agreement to this provision, we are able to offer the Services at the
            terms designated, and that your assent to this provision is an indispensable consideration to this Terms
            of Service.</p>
            <h3>Modification</h3>
            <p>We reserve the right, in our sole discretion, to modify or replace any of these Terms of Service, or
            change, suspend, or discontinue the Services (including without limitation, the availability of any feature,
            database, or content) at any time by posting a notice on the Site or by sending you notice through the
            Services, via e-mail or by another appropriate means of electronic communication. We may also impose limits
            on certain features and services or restrict your access to parts or all of the Services without notice or
            liability. While we will provide notice of modifications, it is also your responsibility to check these
            Terms of Service periodically for changes. Your continued use of the Services following notification of
            any changes to these Terms of Service constitutes acceptance of those changes.</p>
            <h2>Miscellaneous</h2>
            <h3>Entire agreement and severability</h3>
            <p>These Terms of Service are the entire agreement between you and us with respect to the Services,
            including use of the Site, and supersede all prior or contemporaneous communications and proposals (whether
            oral, written or electronic) between you and us with respect to the Services. If any provision of these
            Terms of Service is found to be unenforceable or invalid, that provision will be limited or eliminated to
            the minimum extent necessary so that these Terms of Service will otherwise remain in full force and effect
            and enforceable. The failure of either party to exercise in any respect any right provided for herein shall
            not be deemed a waiver of any further rights hereunder.</p>
            <h3>Force majeure</h3>
            <p>We shall not be liable for any failure to perform our obligations hereunder where such failure results
            from any cause beyond our reasonable control, including, without limitation, mechanical, electronic or
            communications failure or degradation.</p>
            <h3>Assignment</h3>
            <p>These Terms of Service are personal to you, and are not assignable, transferable or sublicensable by
            you except with our prior written consent. We may assign, transfer or delegate any of our rights and
            obligations hereunder without consent.</p>
            <h3>Agency</h3>
            <p>No agency, partnership, joint venture, or employment relationship is created as a result of these
            Terms of Service and neither party has any authority of any kind to bind the other in any respect.</p>
            <h3>Notices</h3>
            <p>Unless otherwise specified in these Term of Service, all notices under these Terms of Service will be
            in writing and will be deemed to have been duly given when received, if personally delivered or sent by
            certified or registered mail, return receipt requested; when receipt is electronically confirmed, if
            transmitted by facsimile or e-mail; or the day after it is sent, if sent for next day delivery by
            recognised overnight delivery service. Electronic notices should be sent to
            <a href="mailto:legal@tartarusfalls.com" alt="Tartarus Falls contact email">legal@tartarusfalls.com</a>.</p>
            <p>We may issue notices via various channels, including by posting messages on our Website.  You consent
            to receive notices by e-mail and agree that any such notices that we send you shall be legally effective
            and satisfy any requirement that the notices be provided in writing.  If you do not agree, do not accept
            these Terms.  You have the right to withdraw your consent, and, when required by law, we will provide you
            with paper copies of all documents and records upon request.  You may do so by contacting us at the email
            or mailing addresses provided in these Terms.  If you withdraw your consent, we reserve the right to
            terminate the Agreement between us. By accepting these terms, you verify that you are able to receive,
            access, and retain the notices we may send. You may change your e-mail address for notification purposes
            at any time by editing your account information on our website.</p>
            <h3>No waiver</h3>
            <p>Our failure to enforce any part of these Terms of Service shall not constitute a waiver of our right
            to later enforce that or any other part of these Terms of Service. Waiver of compliance in any particular
            instance does not mean that we will waive compliance in the future. In order for any waiver of compliance
            with these Terms of Service to be binding, we must provide you with written notice of such waiver through
            one of our authorised representatives.</p>
            <h3>Headings</h3>
            <p>The section and paragraph headings in these Terms of Service are for convenience only and shall not
            affect their interpretation.</p>
            <h3>Term and termination</h3>
            <p>We shall have the right to terminate this Terms of Service including, without limitation, your right
            to access and use the Services, at any time in our sole discretion and without advance notice to you.
            The licenses granted herein by us shall automatically terminate without advance notice if you fail to
            comply with any material provision of this Terms of Service. You may terminate this Terms of Service at
            any time by deactivating your user account on the Services and discontinuing use of any and all parts of
            the Services.  Upon termination of this Terms of Service for any reason, you shall immediately cease using
            the Services. All provisions of these Terms of Service and the Payment Terms which by their nature should
            survive termination shall survive any such termination, including, without limitation, your licenses of
            User Content, ownership provisions, warranty disclaimers, indemnity obligations, your payment obligations
            under the Payment Terms, limitations of liability, and provisions related to choice of law.</p>
            <h3>Contact</h3>
            <p>You may contact us at the following address: 11 Amberside, Wood Lane, Hemel Hampstead, HP2 4TP or
            <a href="mailto:legal@tartarusfalls.com" alt="Tartarus Falls contact email">legal@tartarusfalls.com</a>.</p>
            <p>Registered company details: Whythawk Limited, Number 06583455, VAT Number 155451709.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}