{% extends "wrapper.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid page-background">
    <div class="container redeem">
        <div class="col-xs-12 content bio">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <div class="content">
                        <blockquote class="redeem"><small>{{ novel_object.summary }}</small></blockquote>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <div class="redeem">
                        <p>The ebooks you buy from this site are not your ordinary mass-produced digital 
                        products. Each bit is lovingly hand-crafted.</p>
                        <p>However, I understand that you may wish to purchase from a less disreputable
                        source than the author. Here are a few wholesome choices:</p>
                        <p><b>Hardcover:</b></p>
                        <ul>
                            <li><a href="http://www.amazon.co.uk/gp/product/0857523694/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=0857523694&linkCode=as2&tag=qwyre-21">
                                Amazon.co.uk</a></li>
                            <li><a href="https://www.waterstones.com/book/lament-for-the-fallen/gavin-chait/9780857523693">
                            Waterstones</a></li>
                        </ul>
                        <p><b>eBooks:</b></p>
                        <ul>
                            <li><a href="https://www.amazon.com.au/Lament-Fallen-Gavin-Chait-ebook/dp/B019CGXWIY/">
                                Amazon.com.au (Australia)</a></li>
                            <li><a href="https://store.kobobooks.com/en-us/ebook/lament-for-the-fallen">
                            Kobo</a></li>
                            <li><a href="https://play.google.com/store/books/details/Gavin_Chait_Lament_for_the_Fallen?id=YF8yCwAAQBAJ&hl=en_GB">
                            Google Play</a></li>
                        </ul>
                        <p>If you prefer to support artisanal digital craftsmanship, then you buy 
                        {{ novel_object.title }} instantly and anonymously with Stripe here:</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 content">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <div id="buyresponse" >
                        <div class="col-xs-12 text-center">
                            {% if show_buy %}
                            {% block buynovel %}
                                {% include 'novel/buy_novel.html' %}
                            {% endblock buynovel %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
{% if show_buy %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="{% static 'js/jquery.whyqd.buy.js' %}"></script>
{% endif %}
{% endblock extrascripts %}