<div class="container">
    <div class="col-xs-12 col-md-8 col-md-push-2 whyqd-content reading content {{ wiqi_object.stack.custom_div }}">
        <div class="whyqd-header">
            <div class="whyqd-text-black">
                <div class="col-xs-12 text-center">
                <h1><div id="title">
                {% if chapter_title %}{{ chapter_title|safe }}{% endif %}
                </div></h1>
                <h1><small><div id="subtitle">
                {% if wiqi_object.stack %}{{ wiqi_object.stack.subtitle|safe }}{% else %}{{ wiqi_object.subtitle|safe }}{% endif %}
                </div></small></h1>
                </div>
            </div>
            {% if user.is_superuser %}
            <div class="col-xs-12 text-center">
                <p class="text-right"><a href="{{ wiqi_object.get_edit_url}}">edit</a></p>
            </div>
            {% endif %}
        </div>
        <div class="row col-xs-12 col-lg-10 col-lg-push-1" id="content">
        {% if diff_wiqis %}{{ diff_wiqis|safe }}{% else %}{{ wiqi_object.htmlresponse|safe }}{% endif %}
        </div>
    </div>
</div>