{% extends "wrapper.html" %}

{% block extrastyles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/medium-editor.css">
{% endblock extrastyles %}

{% block heading %}
<div class="whyqd-header">
    <div class="container">
        <div class="whyqd-text-black">
            <div class="col-xs-12 col-md-12 whyqd-absolute-top ">
                <small>By {% if wiqi_object.creator %}{{ wiqi_object.creator.first_name }} {{ wiqi_object.creator.last_name }}
                    {% else %}{{ user.first_name }} {{user.last_name }}{% endif %}</small>
            </div>
            <div class="col-xs-12 col-md-11 col-md-offset-1 whyqd-header-text">
                <h1><div id="title" class="editable" contenteditable="true" data-placeholder="Title" data-medium-element="true">
                {% if page_title %}{{ page_title|safe }}{% endif %}
                </div></h1>
                <h2><small><div id="subtitle" class="editable" contenteditable="true" data-placeholder="Subtitle (optional)" data-medium-element="true">
                {% if wiqi_object.stack %}{{ wiqi_object.stack.subtitle|safe }}{% else %}{{ wiqi_object.subtitle|safe }}{% endif %}
                </div></small></h2>
            </div>
        </div>
    </div>
</div>
{% endblock heading %}

{% block content %}
    <div class="whyqd-content col-xs-12 col-md-10 col-md-offset-1">
        <div id="content" class="editable" contenteditable="true" data-placeholder="Add content" data-medium-element="true">
        {% if diff_wiqis %}{{ diff_wiqis|safe }}{% else %}{{ wiqi_object.htmlresponse|safe }}{% endif %}
    	</div>
    </div>
{% endblock content %}

{% block extrascripts %}
<script src="{{ STATIC_URL }}js/medium-editor.js"></script>
<script src="{{ STATIC_URL }}js/jquery.whyqd.view.js"></script>
{% endblock extrascripts %}