{% extends "wrapper.html" %}
{% load humanize %}
{% load staticfiles %}
{% load mathfilters %}

{% block extrastyles %}
<!--<link rel="stylesheet" href="{{ STATIC_URL }}css/medium-editor.css">-->
{% endblock extrastyles %}

{% block heading %}
{% endblock heading %}

{% block content %}
<div class="containter">
    <div class="col-xs-12 col-md-8 col-md-push-2 whyqd-content reading content">
        <div class="whyqd-header">
            <div class="whyqd-text-black">
                <div class="col-xs-12 text-center">
                <h1><div id="title">
                {% if chapter_title %}{{ chapter_title|safe }}{% endif %}
                </div></h1>
                <h1><small><div id="subtitle">
                {% if wiqi_object.stack %}{{ wiqi_object.stack.subtitle|safe }}{% else %}{{ wiqi_object.subtitle|safe }}{% endif %}
                </div></small></h1>
                </div>
            </div>
        </div>
        <div class="row col-xs-10 col-xs-push-1" id="content">
        {% if diff_wiqis %}{{ diff_wiqis|safe }}{% else %}{{ wiqi_object.htmlresponse|safe }}{% endif %}
        </div>
        <div class="row col-xs-12" id="pagenav">
            <div class="col-md-2">
                {% if wiqi_object.previous_wiqi %}
                    <a href="{{ wiqi_object.previous_wiqi.get_url }}" class="btn btn-md btn-continue-read"
                       role="button">Previous</a>
                {% endif %}
            </div>
            <div class="col-md-7">
            </div>
            <div class="col-md-6">
                {% if wiqi_object.next_wiqi %}
                    <div class="row" id="nextpage">
                        <input type="hidden" value="false" id="buytrigger"/>
                        <input type="hidden" value="{{ next_wiqi.get_url }}" id="nextpagelink"/>
                    {% if can_read_next == "open" %}
                        <p><a href="{{ next_wiqi.get_url }}" class="btn btn-md btn-continue-read"
                              role="button">Next chapter</a></p>
                    {% elif not request.user.is_authenticated %}
                        <form action="{% url 'facebook_connect' %}?next={{ next_wiqi.get_url }}&facebook_login=1" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="1" name="connect" />
                            <input type="hidden" value="{{ next_wiqi.get_url }}" name="next" />
                            <input type="hidden" value="{{ next_wiqi.get_url }}" name="register_next" />
                            <input type="hidden" value="{{ request.path }}" name="error_next" />
                            <a onclick="F.connect(this.parentNode); return false;" href="javascript:void(0);"
                               class="btn btn-md btn-continue-read" role="button">
                                Login to read next chapter</a>
                            {% if next_price %}
                                <p><small id="nextPriceText">Price increases to &pound; {{ next_price }}</small></p>
                            {% endif %}
                        </form>
                    {% else %}
                        {# Subtlety here ... if "owns" then owns the book, if "own" then still has to buy #}
                        {% if can_read_next != "own" %}<p><a href="{{ next_wiqi.get_url }}"
                                                             class="btn btn-md btn-continue-read"
                                                             role="button">Next chapter</a></p>{% endif %}
                        {% if can_read_next == "login" %}
                            {% if next_price %}
                                <p><small id="nextPriceText">Price increases to &pound; {{ next_price }}</small></p>
                            {% endif %}
                        {% elif can_read_next == "borrowed" %}
                            <p><small>Loaned until {{ request.user.deadline|naturalday:"l j E Y" }}.</small></p>
                        {% elif can_read_next == "own" %}<p>This isn't the end.</p>
                            <p>Buy {{ page_title }} and keep reading.</p>
                        {% endif %}
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 text-center">
            {% if show_buy %}
            {% block buynovel %}
                {% include 'novel/buy_novel.html' %}
            {% endblock buynovel %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
<script src="{% static 'js/jquery.whyqd.view.js' %}"></script>
{% if show_buy %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="{% static 'js/jquery.whyqd.buy.js' %}"></script>
<script>
    $(document).ready(function() {
        $("#buytrigger").change(function () {
            var next_page = '<p><a href="' + $('#nextpagelink').val()
                + '" class="btn btn-default" >Next chapter</a></p>';
            $('#nextpage').html(next_page);
        });
    });
</script>
{% endif %}
{% endblock extrascripts %}