@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
/*@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);*/
/*@import url(http://fonts.googleapis.com/css?family=Poly:400,400italic);*/
html, body, h1, h2, h3, h4 {
  font-family: 'PT Serif', serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
    .whyqd-header { 
        height:350px; 
        overflow:hidden; 
        background: none repeat scroll 0 0 #FFFFFF;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
    }
    .whyqd-header img { 
        background-position: center center;
        background-size: cover;
        position: absolute; 
        top: 0; 
        left: 0; 
        height: auto; 
        width:100%; 
    }
    .whyqd-header-text {
        margin-top: 200px;
        bottom: 10px;
    }
    .whyqd-header-attribution {
        top: 300px;
        bottom: 10px;
    }
    .whyqd-content {
        top: 375px;
    }
    .whyqd-absolute-top {
        top: 65px;
    }
    .whyqd-hidden {
        display: none;
    }
    .whyqd-text-white { color: white; }
    .whyqd-text-black { color: black; }
    .whyqd-attribution { 
        bottom: 0; }
    :focus, :active {outline:none !important;}
    ::-moz-focus-inner {border:0 !important;}
    .whyqd-diff-deleted {
        background: #ffe6e6;
    }
    .whyqd-diff-inserted {
        background: #e6ffe6;
    }
    .navinput-icon > label > span:hover,
    .navinput-icon > label > span:focus,
    .navinput-icon > form > div > label > span:hover,
    .navinput-icon > form > div > label > span:focus  {
        cursor: pointer;
        text-decoration: none;
        background-color: #eeeeee;
    }
    .navinput-icon > input,
    .navinput-icon > form > div > input {
        display: none;
    }

  #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 30px; background: #F8F8F8;}
  #sortable li span { position: absolute; margin-left: -1.3em; }
  #sortable li label {float: right; margin: 0;}