{% extends "base.html" %}

{% load search_tags %}

{% block site_wrapper %}
<div id="pagewidth">
	<div id="navigation">
		{% include 'tags/navigation.html' %}
	</div>
	<div id="generalsearch">
		{% whyqd_search request %}
	</div>
	<div id="wrapper" class="clearfix" >
		<div id="leftcolumn">
			{% hero_links %}
		</div>
		<div id="maincontent" class="clearfix"> 
			<div id="content">
				{% block content %}{% endblock %}
			</div>
			<div id="selection">
				{% selection_cart request %}
			</div>
		</div>
	</div>
</div>
{% endblock %}