<div id="navigation" class="nav navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row navbar-header text-center">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sm-only">
                    <img id="" src="/static/images/favicon-32x32.png" alt="Open Navigation Bar">
                </span>
            </button>
        </div>
        <div class="row navbar-collapse collapse">
            <ul id="nav-user" class="nav navbar-nav">
            {% if novel_object %}
                <li><a href="{% url 'index' %}">Cover</a></li>
                <li><a href="{% url 'view_chapters' novel_object.surl %}">Contents</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'legal' %}">Legal</a></li>
                {% if user.is_authenticated and user.manage_novel %}
                <li><a href="{{ user.manage_novel }}">Share & Manage</a></li>
                {% endif %}
            {% endif %}
            </ul>
            <ul id="nav-login" class="nav navbar-nav pull-right">
            {% if not user.is_authenticated %}
                <li><form action="{% url 'facebook_connect' %}?next={{ request.path }}&facebook_login=1"
                          class="navbar-form" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="1" name="connect" />
                    <input type="hidden" value="{{ request.path }}" name="next" />
                    <input type="hidden" value="{{ request.path }}" name="register_next" />
                    <input type="hidden" value="{{ request.path }}" name="error_next" />
                    <a onclick="F.connect(this.parentNode); return false;"
                       href="javascript:void(0);"><span class="icon-facebook-square"></span> Login</a>
                </form></li>
            {% elif user.is_superuser %}
                <li><a href="{% url 'usr_logout' %}">
                    {% if user.first_name or user.last_name %}
                        {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                        {{ user }}
                    {% endif %}
                    </a></li>
            {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>