{% extends "wrapper.html" %}

{% block content %}
<div class="whyqd-absolute-top col-xs-12 col-md-10 col-md-offset-1">
    <div class="row">
        <ul>
        {% for novel in novel_objects %}
            <li><a href="{{ novel.get_absolute_url }}">{{ novel.title }}</a> -
                [ <a href="{{ novel.get_prices_url }}">Set Prices</a> ]
                [ <a href="{{ novel.get_manage_tokens_url }}">Manage Tokens</a> ]</li>
        {%  endfor %}
        </ul>
    </div>
</div>
{% endblock content %}