{% extends "wrapper.html" %}

{% block extrastyles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload.css">
{% endblock extrastyles %}

{% block content %}
<div class="whyqd-absolute-top col-xs-12 col-md-10 col-md-offset-1">
    <div id="booksort">
        <p>Upload a docx file. The content will be presented as a sortable (drag 'n drop) list of groupings. 
            The program will attempt to flag titles, but you will need to tick off those items
            you want to group together or delete.</p>
        <div id="overdocx" class="navinput-icon">
            <label id="getdocx" for="docxupload"><span class="icon-login"></span></label>
            <input id="docxupload" type="file" name="file"></div>
        <p>Let's get started...</p>
   </div>
</div>
{% endblock content %}

{% block extrascripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="{{ STATIC_URL }}js/load-image.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}js/jquery.whyqd.docx.js"></script>
  <script>
$(document).ready(function() {
        $(":checkbox").on("change", function() {
            console.log($(this).parent().parent());
            var that = this;
            var currentdata = $(this).parent().parent().attr("data-value");
            var bone = "#E3DAC9";
            var ghost = "#F8F8FF";
            var colour = $(this).attr('name') == 'chapter' ? bone : ghost;
            var parse = $(this).attr('name') == 'chapter' ? "T" : "D";
            $(this).parent().parent().css("background-color", function() {
                return that.checked ? colour : "";
            });
            //http://www.jquery4u.com/javascript/15-javascript-string-functions/
            $(this).parent().parent().attr("data-value", function() {
                return that.checked ? parse + currentdata.substring(1) : '-' + currentdata.substring(1);
            });
        });
});
  </script>
{% endblock extrascripts %}