{% extends "wrapper.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container share-manage">
    <div class="col-xs-12">
        <div class="row text-center col-md-10 col-md-push-1">
            <h1>Share and Manage {{ novel_object.title }}</h1>
        </div>
        <div class="row text-center col-md-10 col-md-push-1" id="download_ebook">
            <p>Download DRM-free ebook versions for yourself or share your copy with your friends.</p>
            <div class="col-md-6 col-md-push-3">
                {% if token_download.is_purchased %}
                <form action="{% url 'download_novel' token_download.surl %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{% url 'download_novel' token_download.surl %}"
                           name="downloadURL" id="downloadURL" />
                </form>
                <button id="downloadButton" class="btn btn-md btn-block btn-continue-read" >Generate Links</button>
                {% endif %}
            </div>
        </div>
        <div class="row col-md-10 col-md-push-1 xcentered-tabs">
            <ul id="share-tabs" class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#tab-buy" data-toggle="tab">Buy</a></li>
                <li><a href="#tab-lend" data-toggle="tab">Lend</a></li>
                <li><a href="#tab-refund" data-toggle="tab">Refund</a></li>
                <li><a href="#tab-email" data-toggle="tab">Email</a></li>
            </ul>
            <div id="share-tab-content" class="tab-content">
                <div id="tab-buy" class="tab-pane active">
                    <p></p>
                    <p>Provide a comma separated list of email addresses and buy in bulk.
                    We will email a redemption voucher to each person for you.</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <textarea id="email_list" class="form-control" rows="3" cols="40" wrap="hard"></textarea>
                        <input type="hidden" value="{{ fxp }}" id="basePrice" name="basePrice" />
                        <input type="hidden" value="{{ fxp }}" id="stripePrice" name="stripePrice" />
                        <input type="hidden" value="{{ fxd }}" id="stripeCurrency" name="stripeCurrency" />
                        <input type="hidden" value="0" id="stripeDiscount" name="stripeDiscount" />
                        <input type="hidden" value="10" id="stripeVolume" name="stripeVolume" />
                        <input type="hidden" value="1" id="stripeCount" name="stripeCount" />
                        <input type="hidden" value="{% url 'novel_settings' novel_object.surl %}"
                               name="stripeSettings" id="stripeSettings" />
                        <input type="hidden" value="{% url 'buy_novel' %}" name="stripeBuy" id="stripeBuy" />
                    </form>
                    <p></p>
                    <div class="row">
                        <div class="col-sm-4 col-sm-push-4 text-center">
                            <div class="btn-group">
                                <button id="stripeButton" class="btn btn-lg btn-buy-dropdown" disabled >Buy 1 for &pound;
                                {{ novel_object.sentinal.price }}</button>
                                <button id="stripeCaret" type="button" data-toggle="dropdown"
                                        class="btn btn-lg btn-default dropdown-toggle btn-buy-dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li id="forex_usd" data-value={{ fx.usd }}><a href="#">USD</a></li>
                                    <li id="forex_gbp" data-value={{ fx.gbp }}><a href="#">GBP</a></li>
                                    <li id="forex_eur" data-value={{ fx.eur }}><a href="#">EUR</a></li>
                                </ul>
                            </div>
                            <div class="row col-xs-12 text-center"><span class="smallprint">Payments are securely
                            processed by Stripe. This site never has access to your credit card number.</span></div>
                        </div>
                        <div class="col-sm-3 col-md-4" id="bulkbuyinfo"></div>
                    </div>
                </div>
                <div id="tab-lend" class="tab-pane">
                    <p></p>
                    <p>Send up to {{ total_tokens }} copies to friends for {{ total_duration }} days each.
                    Simply provide their email addresses and send.</p>
                    <form action="" method="POST" class="inline">
                        {% csrf_token %}
                        {{ issue_token_formset.management_form }}
                        {% for form in issue_token_formset %}
                        <div class="form-group">
                            <div class="row">
                                {{ form.id }}
                                <div class="col-xs-4">
                                {{ form.recipient|add_class:"form-control input-sm"|attr:"placeholder:Email" }}
                                </div>
                                <div class="col-xs-4">
                                {% if form.instance.days_left %} Loaned for {{ form.instance.days_left }} more days.{% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-default" name="issue_tokens" value="save">Send</button>
                    </form>
                </div>
                <div id="tab-refund" class="tab-pane">
                    <p></p>
                    <p>This is a list of your recent unredeemed purchases. While active, you can change the email
                    notification address or request an instant refund.</p>
                    <form action="" method="POST" class="inline">
                        {% csrf_token %}
                        {{ refund_token_formset.management_form }}
                        {% for form in refund_token_formset %}
                        <div class="form-group" id="refundForm_{{forloop.counter0}}">
                            <div class="row">
                                {{ form.id }}
                                <div class="col-xs-4">
                                {{ form.recipient|add_class:"form-control input-sm" }}
                                </div>
                                <div class="col-xs-4">
                                {% if form.instance.is_valid %}
                                    <button type="submit" class="btn btn-default btn-sm"
                                            id="refundToken_{{forloop.counter0}}"
                                            value={% url 'refund_token' form.instance.surl %}>Refund</button>
                                    <button type="submit" class="btn btn-default btn-sm"
                                            id="resendToken_{{forloop.counter0}}"
                                            value={% url 'resend_token' form.instance.surl %}>Resend</button>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </ul>
                    </form>
                </div>
                <div id="tab-email" class="tab-pane">
                    <p></p>
                    <p>We send confirmation of your purchases, refunds and loaned copies of {{ novel_object.title }}
                    using these details. If they're wrong, or need changing, please fix. You can also opt-out of
                    marketing mail (which will probably be about the next book).</p>
                    <form action="" method="POST" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" value="{% url 'usr_update' %}" name="user_update" id="user_update" />
                        <input type="text" id="facebookname" class="form-control"
                               placeholder="Enter name" value="{{ request.user.facebook_name }}"/>
                        <input type="email" class="form-control" id="user_email" placeholder="Enter email"
                               value="{{ request.user.email }}"/>
                        <div class="checkbox">
                          <label>
                            <input id="optout" type="checkbox"
                                   {% if request.user.optout %}checked{% endif %}> Opt out of marketing mail
                          </label>
                        </div>
                        <p></p>
                        <button type="submit" class="btn btn-default" name="change_email"
                                id="change_email" value="change">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extrascripts %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    function getemaillist(form_text) {
        // http://scottdowne.wordpress.com/2010/07/13/javascript-array-split-on-multiple-characters/
        var textlist = form_text ? form_text.split(/[\s,;]+/) : 0;
        // http://stackoverflow.com/a/2507043 and http://www.w3.org/TR/html5/forms.html#valid-e-mail-address
        var regex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
        // http://stackoverflow.com/questions/4964456/make-javascript-do-list-comprehension
        var emails = jQuery.map(textlist, function(e) { if (regex.test(e)) { return e; } });
        return emails;
    }
    function setprice() {
        var count = $("#stripeCount").val();
        var discount = $("#stripeDiscount").val();
        var volume = $("#stripeVolume").val();
        var fx_currency = $("#stripeCurrency").val().toLowerCase();
        var fx_price = parseFloat($('#forex_' + fx_currency).attr('data-value').trim()).toFixed(2);
        var base_price = parseFloat($('#basePrice').attr('value').trim()).toFixed(2);
        var bulk_price = base_price * fx_price;
        if (count) {
            bulk_price = bulk_price * count;
            if (count >= volume) {
                bulk_price = bulk_price * (1 - discount);
            }
        }
        $("#stripePrice").val(bulk_price.toFixed());
    }
    function getcurrencysymbol() {
        var forex_currency = $("#stripeCurrency").val();
        switch (forex_currency) {
            case 'GBP':
                return '&pound;';
            case 'EUR':
                return '&euro;';
            case 'USD':
                return '$';
            default:
                return '&pound;';
        }
    }
    function setcount(volume, discount) {
        var emails = getemaillist(this.value)
        var count = emails.length > 1 ? emails.length : 1;
        if (emails.length) {
            $('#stripeButton').prop('disabled', false);
        }
        else {
            $('#stripeButton').prop('disabled', true);
        }
        $("#stripeCount").val(count);
        $("#stripeDiscount").val(discount);
        $("#stripeVolume").val(volume);
        setprice();
        setbuttonprice();
    }
    function setbuttonprice() {
        var count = $("#stripeCount").val();
        var discount = $("#stripeDiscount").val();
        var volume = $("#stripeVolume").val();
        var currency = getcurrencysymbol();
        var price = $("#stripePrice").val();
        var d_text = "Buy " + count + " for " + currency + " " + (price/100).toFixed(2);
        var cin = count >= volume ? 'btn-success' : 'btn-default';
        var cout = count < volume ? 'btn-success' : 'btn-default';
        d_text = count >= volume ? d_text + " (" + Math.floor(discount*100) + "% discount)" : d_text;
        $('#stripeButton').html(d_text).addClass(cin).removeClass(cout);
        $("#stripeCaret").addClass(cin).removeClass(cout);
    }
    function timer(time,update,complete) {
        // http://stackoverflow.com/a/11336046
        var start = new Date().getTime();
        var interval = setInterval(function() {
            var now = time-(new Date().getTime()-start);
            if( now <= 0) {
                clearInterval(interval);
                complete();
            }
            else update(Math.floor(now/1000));
        },100); // the smaller this number, the more accurate the timer will be
    }
    function setlinks(links) {
        var instruct = '<p>Time remaining before links expire: <span id="timer"></span></p>';
        var dlist = '<ul>';
        $.each(links, function(k, l) {
            dlist = dlist + '<li><a href=' + l + '>' + k + '</a></li>';
        });
        dlist = instruct + dlist + '</ul>';
        dlist += '<p>Guidance for reading ' +
        '<a href="https://www.amazon.com/gp/sendtokindle">Kindle/.mobi</a> ' +
        'and <a href="http://www.kobobooks.com/ade">Kobo/Nook/.epub</a>.</p>';
        return dlist;
    }
    $(document).ready(function() {
        $.ajax({
            url: $('#stripeSettings').val()
            }).done(function(data) {
                ns = data.settings;
                var handler = StripeCheckout.configure({
                    key: ns.stripe_key,
                    image: '/media/images/qwyre_42.png',
                    name: ns.novel_title,
                    email: ns.user_email,
                    token: function(token) {
                        // http://stackoverflow.com/a/22461608
                        // You can access the token ID with `token.id`
                        $.ajax({
                            url: $('#stripeBuy').val(),
                            type: 'post',
                            data: {
                                stripeToken: token.id,
                                stripeDescription: ns.description,
                                stripePrice: ns.price,
                                stripeCurrency: ns.currency,
                                stripeEmails: ns.emails,
                                selfPurchase: false,
                                template: 'gift_purchase'
                            },
                            success: function(data) {
                                if (data.response == 'success') {
                                    $("#email_list").val("");
                                    window.location.href = window.location.href;;
                                }
                                else {
                                    $('#bulkbuyinfo').html(
                                        '<div class="alert alert-danger alert-dismissable">'+
                                            '<button type="button" class="close" ' + 
                                                'data-dismiss="alert" aria-hidden="true">' + '&times;' + 
                                            '</button>' + 
                                            '<strong>Sorry</strong>, something went wrong. ' +
                                            'You have not been charged. Please try again.' +
                                         '</div>');
                                }
                            },
                            error: function(data) {
                                $('#bulkbuyinfo').html(
                                    '<div class="alert alert-danger alert-dismissable">'+
                                        '<button type="button" class="close" ' + 
                                            'data-dismiss="alert" aria-hidden="true">' + '&times;' + 
                                        '</button>' + 
                                        '<strong>Sorry</strong>, something went wrong. ' +
                                        'You have not been charged. Please try again.' +
                                     '</div>');
                            }
                          }); // end ajax call
                    }
                });
                //https://mathiasbynens.be/notes/oninput
                var emaillist = document.getElementById("email_list");
                emaillist.oninput = function() {
                    this.onkeyup = null;
                    setcount.call(this, ns.bulk_volume, ns.bulk_discount);
                };
                emaillist.onkeyup = function() {
                    setcount.call(this, ns.bulk_volume, ns.bulk_discount);
                };
                document.getElementById('stripeButton').addEventListener('click', function(e) {
                    var emails = getemaillist($('#email_list').val());
                    ns.emails = emails.toString();
                    ns.price = $("#stripePrice").val();
                    ns.description = ns.novel_title + " - " + $('#stripeButton').html();
                    ns.currency = $('#stripeCurrency').val();
                    // Open Checkout with further options
                    handler.open({
                      description: ns.description,
                      amount: ns.price,
                      currency: ns.currency
                    });
                    e.preventDefault();
                });
            });
        $('#downloadButton').on('click', function () {
            $.ajax({
               url: $('#downloadURL').val()
               }).done(function(data) {
                   var time = data.timer;
                   var links = data.links;
                   // http://stackoverflow.com/a/5557728
                   var divclone = $('#download_ebook').clone(true, true);
                   $('#download_ebook').html(setlinks(links));
                   timer(
                       time*1000, // milliseconds
                       function(timeleft) { // called every step to update the visible countdown
                           document.getElementById('timer').innerHTML = timeleft + " seconds.";
                       },
                       function() { // what to do after
                           $('#download_ebook').replaceWith(divclone);
                       }
                   );
                });
            });
        $('[id^=refundToken_]').on('click', function (e) {
            var tid = this;
            var rid = tid.id.replace("refundToken_", "");
            $.ajax({
                url: tid.value
                }).done(function(data) {
                    if (data.response == 'success') {
                        $('#refundForm_' + rid).remove();
                    }
                });
            e.preventDefault();
            });
        $('[id^=resendToken_]').on('click', function (e) {
            var tid = this;
            var rid = tid.id.replace("resendToken_","");
            rid = "id_refund-" + rid + "-recipient";
            var recipient = $('#' + rid).val();
            $.ajax({
                url: tid.value,
                type: 'post',
                data: {
                    recipient: recipient,
                    template: 'gift_purchase'
                },
               }).done(function(data) {
                    if (data.response == 'success') {
                        console.log(data.recipient)
                    }
                });
            e.preventDefault();
            });
        $('[id^=forex_]').on('click', function (e) {
            var forex = this;
            switch (this.id) {
                case 'forex_usd':
                    $("#stripeCurrency").val('USD');
                    break;
                case 'forex_gbp':
                    $("#stripeCurrency").val('GBP');
                    break;
                case 'forex_eur':
                    $("#stripeCurrency").val('EUR');
                    break;
            }
            setprice();
            setbuttonprice();
            e.preventDefault();
            });
        $('#change_email').on('click', function (e) {
            var emails = getemaillist($('#user_email').val());
            emails = emails.toString();
            name = $('#facebookname').val().toString();
            optout = $('#optout').is(':checked').toString();
            $.ajax({
                url: $('#user_update').val(),
                type: 'post',
                data: {
                    email: emails,
                    name: name,
                    optout: optout
                }
                });
            e.preventDefault();
            });
    });
</script>
{% endblock extrascripts %}