{% extends "wrapper.html" %}

{% block content %}
<div class="whyqd-absolute-top col-xs-12 col-md-10 col-md-offset-1">
    
    <p>Tokens remaining: {{ tokens_remaining }}</p>
    
    <div class="row">
        <form action="" method="POST" class="inline">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <li>{{ form }}{% if form.instance.days_left %} Loaned for {{ form.instance.days_left }} more days.{% endif %}</li>
            {% endfor %}
            </ul>
            <button type="submit" class="btn btn-default" name="issue_tokens" value="save">issue</button>
        </form>
    <ul>
        {%  for token in token_list %}
            <li><a href="{{ token.get_token_redemption_url }}">{{ token.surl }}</a></li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endblock content %}
