{% extends "wrapper.html" %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/screen.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/wiqimetro.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/formalize.css">
{% endblock styles %}

{% block signon %}
<div class="span-24 last">
	<ul class="chc">
		{% if user.is_authenticated %}
		<li><a href="{% url account_logout %}">Sign Out</a></li>
		{% else %}
		<li><a href="{% url account_login %}">Sign In</a></li>
		<li><a href="{% url account_signup %}">Sign Up</a></li>
		{% endif %}
	</ul>
</div>
{% endblock signon%}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formalize.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.whyqd.js"></script>
{% endblock scripts %}