{% extends "account/base.html" %}

{% block title %}Login - {{ site_name }}{% endblock title %}

{% block heading %}<h1>Login</h1>{% endblock heading %}

{% block content %}

{% if not user.is_authenticated %}
{% if allauth.socialaccount_enabled  %}
<p>Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:</p>
<div class="socialaccount_ballot">
	<ul class="socialaccount_providers">
	{% include "account/provider_list.html" %}
	</ul>
	<div class="login-or">or</div>
</div>
{% include "account/login_extra.html" %}
{% endif %}
{% endif %}

    <form method="POST" action="{% url account_login %}">{% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <hr class="space">
        <input type="submit" name="_login" value="Login" />
        <a href="{% url account_reset_password %}">Forgot Password?</a>
    </form>
    
{% if user.is_authenticated %}
{% include "account/already_logged_in.html" %}
{% endif %}
    

{% endblock %}

