{% extends "wrapper.html" %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/screen.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/wiqimetro.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/formalize.css">
{% endblock styles %}

{% block content %}
		<div class="span-24 last">
			<hr class="space">
			<form action="" method="POST" class="inline">{% csrf_token %}
				{% for field in form %}
					{{ field.label_tag }}: {{ field }} 
				{% endfor %}
				<input type="submit" name="_subscribe" value="Subscribe" />
			</form>
		</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formalize.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.whyqd.js"></script>
{% endblock scripts %}